<%- include('header') -%>
<h1><%= listTitle %></h1>

<% items.forEach((ele) => { %>
<p><%= ele %></p>
<% }) %>

<form action="/" method="POST">
  <input type="text" name="todo" autocomplete="off" />
  <button type="submit" name="list" value="<%=listTitle%>">ADD</button>
</form>

<%- include('footer') -%>
